*{
    box-sizing: border-box;
}


#contact {
    
    height: 800px;
    background-image: url("image.jpg");  
    background-repeat: no-repeat;
    background-size: cover;  
    
        
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0 auto;
}

.container {
    width: 1024px;
    margin:0 auto;
    display: block;
    padding-top:10%;
    margin-top: 100px;
    
    
    
}

.box-50 {
    width: 50%;
    float:left;
}
.contact-wrapper {
    width:100%;
    background-color: rgba(255,255,255,.45);
    overflow: auto;
    
    

}

.contact-form-wrapper {
    background-color: white;
    padding: 10%;
    border-radius: 20px;
    overflow: hidden;
    
}

.contact-form-details input.form-input, textarea.form-input {
    width: 100%;
    display: block;
      border: 1px solid lightblue;
      border-radius: 15px;
      padding: 15px;
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      margin: 10px 0 15px 0;
    
}

.account-action label{
    display: block;
}

.contact-form-details fieldset {
    border:none;
}

input.btn {

    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(84,212,134,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(84,212,134,1)));
    background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(84,212,134,1) 100%);
    background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(84,212,134,1) 100%);
    background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(84,212,134,1) 100%);
    background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(84,212,134,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#54d486', GradientType=1 );

    padding: 15px;  
    border-radius: 15px;
    display: block;
    width: 50%;
    margin: 0 auto;
    border: 1px solid transparent;
    color: white;
    text-transform: uppercase;
    
}

input.btn:hover {
    background-color: none;
    background: lightskyblue;
    border: 1px solid rgba(84,212,134,1);
    color:blue;
}

h4.form-title {
    background-color: #54d486;
    padding: 20px;
    margin-top: -10%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px;
    color: white;
    font-size: 21px;
    
    
}