ul {

list-style-type: none;

padding: 0.5%;
margin: 1%;
text-transform: uppercase;
font-weight: bold;
text-decoration: none;




}
 
ul>li {

    display: inline-block;
    
    font-size: 20px;
    
}

a {


    
    text-decoration: none;
    float: left;
    color:#2d2d2d;
    
}

a:hover {

    color: #cfcfcf; 


}