* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
    background: rgb(180,221,180); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 */;
}

#wrapper {
    
    width: 1024px;
    margin: 0 auto;
    overflow: auto;
    background-color: white;
}

#header{
    text-align: center;
    margin-top: 50px;
}

#header h1 {
    color: white;
}

 p{
    color: white;
}

.logo {
    margin-top: 50px;
}
.logo img {
    width: 80px;
    background-color: white;
    border-radius: 100%;
    border: 10px solid white;

}


#nav {
background-color: lightgrey;
height: 50px;
border-radius: 10px;
border-bottom-left-radius: 0%;
border-bottom-right-radius: 0%;
width: 1024px;
margin: 0 auto;
margin-top: 50px;
}

#nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    padding-top: 20px;
    
}

#nav ul li {
    text-decoration: none;
    

}

#nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    border: 10px solid transparent;
    
}

#nav ul li a:hover {
    border: 10px solid green;
    background-color: green;
    border-radius: 10px;
    color: white;
    
}

.major h2{
  font-size: 20px; 
  font-weight: lighter; 
}

.content h3 {
    font-size: 15px;
    text-transform: uppercase;
}

.content p {
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    width: 60%;
    padding-left: 40px;
    margin-top: 30px;
}

.spotlight {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}
.image {
    width: 40%;
    justify-self: end;
    position: relative;

}

.image img{
    width: 250px;
    border-radius: 50%;
    align-self: center;
    margin-top: 60px;
    margin-left: 50px;
}

#simboli .major h2 {
    text-align: center;
}

.recyclable__border {
    width: 70px;
    border-radius: 10px;
    border: 1px solid green;
}

.features {
    list-style-type:none; 
}

.pakomakBin {
    width: 50px;
}

.features_left {
    
    text-align: center;
}


.features_right  {
    text-align: center;
}


.full_width {
    width: 30%;
    border-bottom: 1px solid black;
    border-spacing: 0px;
    overflow: auto;
    list-style-type: none;
    
}

.full_width p{
    color: black;
}
.features {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-evenly;
    padding-top: 40px;
}

.features_right.only_one_picture ul {
    color: grey;
    text-align: left;   
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: auto;
}



.features  {
    padding-left: 0px;
}

.full_width a{
    text-decoration: none;
    border-bottom: 1px dotted black;
    color: grey;
}

.full_width p{
    font-size: 13px;
    color: grey;
}

.throw_in {
    background-color: lightgrey;
    border-radius: 10px;
    margin-top: 50px;
    
}

#simboli {
    padding-top: 40px;
    padding-bottom: 40px;
}

.throw_in img {
    width: 20px;
}

.flex-li {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.flex-li  li {
    list-style-type:  none;
}



.not_recyclable__border {
    width: 70px;
    border: 1px solid red;
    border-radius: 10px;
    margin-top: 40px;
}

.text {
    color: grey;
    padding-bottom: 40px;
}


.features_right.only_one_picture h4 {
    color: red;
}

#mapa {
    padding-top: 40px;  
}
#mapa .major h2{
    text-align: center;
}

.map_throw_in_container {
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding-bottom: 20px;


}

.map_throw_in_container .throw_in{
    width: 250px;
    height: 40px;
    justify-self: center;
    padding-left: 30px;
    padding-top: 10px;
    
}

.map_throw_in_container .throw_in {
    font-size: 12px;
}

#footer p {
    text-align: center;
}

#footer img {
    width: 100px;
}


/*Media Queries*/

@media screen and (max-width:475px) {
    #header {
        width: 100%;
    }

    #wrapper {
        width: 100%;
    }

    #nav ul {
        display: block;
        text-align: center;
        padding-top: 0px;
        padding-right: 40px;
    }
    
    #nav {
        height: 200px;
        width:100%;
    }

    #nav ul li {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    

    .content {
        width: 100%;
        padding-right: 20px;

    }

    .image {
        display: none;
    }

    #simboli .major h2 {
     text-align: left;
     padding-left: 40px;
    }
    .full_width {
        padding:10px;
        width: 100%;
    }
    .features {
        display: flex;
        flex-direction: column;
    }

    .map_throw_in_container {
        display: flex;
        flex-direction: column;
    }

    .flex-li  {
        display: flex;
        flex-direction: column;
        
        
    }

    .flex {
        display: flex;
        flex-direction: column;
        
    }

    footer {
        width: 100%;
    }

    .major iframe {
        width:350px;
        height: 200px;
    }

     #mapa .major h2 {
        text-align: center;
        padding-left: 20px;
    }

    .flex-li .features_left {
        width: 100%;
        padding-left: 20px;
    }

    .flex-li .features_right.only_one_picture{
        width: 100%;
        padding-left: 20px;
    }

    .map_throw_in_container .throw_in {
        align-self: center;
    }
}

@media screen and (max-width:768px){

    .alt {
        width: 100%;
    }

    #wrapper {
        width: 100%;
    }
    
    #nav {
        width: 100%;
    }
}