header {
    height: 70px;
    position: relative;
    width: 100%;
}

header img {

    max-width: 150px;
}

header nav ul li {

    float: left;
    text-transform: capitalize;
    font-weight: bold;
    list-style-type: none;
    padding: 10px;  
    
}
header nav ul  {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px;
    

}
a {

    color: black;

    text-decoration: none;
    
}

a:hover {

    color: mediumaquamarine;
}

#slika-golema {
    height: 500px;
    overflow: hidden;

}

#slika-golema img {
    width: 100%;
    position: relative;
    
}

.details-wrapper {
    width: 100%;
    padding: 10px;
    margin-top: 1%;
}

.details-wrapper  .details-item{
    width: 50%;
    float: left;
    position: relative;
}

.details-wrapper .details-item>img{
    width:100%;


}



.details-wrapper .details-item .details-item-logo img {

    position: absolute;
    top: 220px;
    background-color: white;
    border: 2px solid gray;
    left: 15px;
}


.details-item-logo>p {

    text-align: center;
}

.details-item1 {

    width: 100%;
    padding: 10px;
    position: absolute;
    margin-top: 1%;
    top: 575px;
    
}

.details-item1 .vtor-del1 {
    width: 50%;
    float: right;
    position: relative;

}

.details-item1 .vtor-del1>img {
    width:100%
}

.details-item1 .vtor-del1 .vtor-del2 img{

    position: absolute;
    top: 220px;
    background-color: white;
    border: 2px solid gray;
    left: 15px;

}

.vtor-del2>p {
    text-align: center;
}

.extra-info {

    
    width: 100%;
    bottom: 5px;
    background-color: white;
    margin-top: 30%;
    margin-left:1%;
    margin-right: 1%; 
    border: 1px solid gray;  
    padding: 10px;

    
    
}

h1 {
    text-align: center;
}


