* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.black {
    background-color: black;
    height: 50px;
    overflow: auto;
    position: relative;
}

.black ul li {
    color: white;
    list-style-type: none;
    display: inline;
    
}

.black ul {
    margin-top: 10px;
    padding-left: 0%;
}

.pink {
    background-color:  #ea0a8e;
    height: 80px;
}

.pink img{
    width: 100px;
    width: 100px;
    margin-top: 10px;
}


.nav {
    display: flex;
    flex-direction: row;
}

#toggle {
    display: none;
}

.nav label {
    align-self: center;
    font-size: 20px;
    display: none;
}

nav .main-menu ul  {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 0%;
    
}

nav .main-menu ul li {
    padding-left: 0px;
    padding-right: 10px;
   
}

.container {
    margin: 0 auto;
    width: 1024px;

}

.menu label  {
    display: none;
}
.menu ul {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   
}

.menu ul li {
    padding-right: 10px;
    padding-left: 0px;
    
        
   
}

.menu ul li a{
    text-decoration: none;
    color: black;
}

.menu ul li a:hover {
    color: magenta;

}


.menu ul li>ul {
    display: none;
    
    

}

.menu ul li>ul li {
    border-bottom: 1px solid black;
}

.menu ul li:hover>ul,
ul li ul:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: lightgray; 
    
    
}

.menu {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: lightgray;
    
}

.menu ul{
    padding-left: 0%
}
.dropdown {
    padding-left: 0px;
    
}

.box-20 {
    width: 20%;
}

.box-20.first {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    margin-top: 10px;
    border: 3px solid white;
    
    
}

.box-20.first h1 {
    font-size: 20px;
    padding-left: 20px;
}

.box-20.first label {
    display: inline;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 2px;

}

.starbutton {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    float: right;
    background-color: white;
    margin-top: 5px;
    
}

.box-33 {
    width: 33%;
}   

.box-33 h1 {
    text-align: center;
}

.phones .box-33 .price{

    position: absolute;
    padding-left: 160px;

    
}

.phones .box-33 .phone{
    text-align: center;
}

.phones .box-33 .text {
    text-align: center;
}

.phones .box-33 .info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.phones .box-33 .info .button {
    align-self: center;
    
}

.phones .box-33 .info .button input {
    background-color: magenta;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
}

.phones {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 10px;
    padding-left: 10px;
}

.hover-info {
    display: none;
    background-color: yellowgreen;
    width: 175px;
}

.hover-info p{
    text-align: center;
}

.mobileinfo-part1 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.mobileinfo-part1 .phones .box-33 {
    background-color: pink;
    border: 3px solid white;
}

.box-33 .info .text2 {
    padding-left: 5px;
    
}

.box-33 .info .button {
    padding-right: 5px;
}

.phones .box-33 h1 {
    font-size: 15px;
}

.starbutton span:hover + .hover-info {
    display: block;
    position: absolute;
    

}

.box-33 .text2 p{
    color: green;
}

.mobileinfo-part2 .box-20.first {
    background-color: lightblue;
}

.phones-part2 {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 10px;
    padding-left: 10px;
}

.mobileinfo-part2 {
    display: flex;
    flex-direction: row;
}

.mobileinfo-part2 .phones .box-33 {
    border: 3px solid white;
}

#toggle2 {
    display: none;
}

/*Media Queries*/

@media (max-width:420px){
    
    .phones {
        display: flex;
        flex-direction: column;
    }

    .starbutton {
        float: left;
    }

    .mobileinfo-part1 {
        display: flex;
        flex-direction: column;
       
    }

    .mobileinfo-part2 {
        display: flex;
        flex-direction: column;
        
    }

 
}

@media (max-width:480px) {
    .phones {
        display: flex;
        flex-direction: column;
    }

    .starbutton {
        float: left;
    }

    
}

@media (max-width:768px) {
    .nav label {
        display: block;
        cursor: pointer;
        width: 30px;
        
    }

    .main-menu {
        width: 100%;
        display: none;
       
    }

    .nav {
        width: 100%;
        border-top: none;
        border-bottom: none;
        display: block;
    }

    .nav .main-menu ul {
        display: flex;
        flex-direction: column;

    }

    .nav .main-menu ul li {
        border-bottom: 1px solid gray;
        width: 200px;
        text-align: center;
    }

    
    .main-menu a {
        display: block;
        border-bottom: 2px solid grey; 
        margin: 0;
        width:120px;
        text-align: center;
    }


    #toggle:checked + .main-menu {
        display: flex;
        flex-direction: column;
    }

    .ham-menu {
        display: flex;
        flex-direction: column;
        
    }

    .ham-menu label {
        display: block;
        cursor: pointer;
        justify-self: center;
        font-size: 20px;
        color: #ea0a8e;
        
    }

    .list {
        display: none;

    }

    .list ul {
        display: flex;
        flex-direction: column;
    }

    .list ul li:hover>ul {
        width: 200px;
        position: relative;
    }

    .list ul li>ul li {
        background-color: white;
        
    }

    .list a {
        display: block;
        margin: 0;
    }

    #toggle2:checked + .list {
        display: flex;
        flex-direction: column;
    }

    
    .starbutton {
        float: left;
    }
}
    

